@tailwind base;

@layer base {
    body {
        @apply flex w-screen h-screen justify-center items-center overflow-hidden;
    }

    body > div {
        @apply flex w-full h-full flex-col;
    }

    body > div > div, body > div > main {
        @apply flex w-full h-full flex-col bg-[#EAEDF0] dark:bg-[#23292C];
    }
}

@tailwind components;
@tailwind utilities;

@layer components{
    .btn-primary-base{
        @apply bg-[#338896] hover:bg-[#3FA7B8] disabled:bg-[#33889680] flex-row py-2.5 px-6 font-medium text-sm text-[#F7F7F7] disabled:text-[#F7F7F780] rounded
    }

    .btn-secondary-base{
        @apply bg-[#424245] hover:bg-[#5C5C5C] disabled:bg-[#42424580] flex-row py-2.5 px-6 font-medium text-sm text-[#F7F7F7] disabled:text-[#F7F7F780] rounded
    }

    .btn-cancel-base{
        @apply bg-[#E24B2D] hover:bg-[#F2664A] disabled:bg-[#E24B2D80] flex-row py-2.5 px-6 font-medium text-sm text-[#F7F7F7] disabled:text-[#F7F7F780] rounded
    }

    .header-gold {
        @apply text-[#C98E26]
    }

    .input{
        background-color: #F7F7F7;
        border: 1px solid #D2D2D2;
        color: #353535;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .input:disabled{
        background-color: #D2D2D2;
        color: #A8A8A8;
    }

    .input:focus{
        border: 1px solid #3FA7B8;
    }

    .input::placeholder{
        color: #727272;
    }

    label{
        color: #A8A8A8;
    }

    .error{
        color: #FF5959;
    }
}